table {
    padding: "5px";
    border: 2px solid black; 
    border-collapse: collapse;
    width: "50%"
}
th,td {
    border: 1px solid black;
}
th {
    text-align: center;
}
h1 {
    color: forestgreen;
}
p {
    font-family: 'Century Gothic', 'Times New Roman', Times, serif;
}
.object {
    font-weight: bold;
}